{% set integration_name = 'reporter_jira' %}
{% set display_name = 'Jira' %}
{% set show_test_connection = True %}

{{ template_slot('integrations_default_add_button', payload={
    'integration_name': integration_name,
    'display_name': display_name,
    'logo': '<img src="%s"></img>' | format(url_for('%s.static' | format(integration_name), filename='logo.svg'))
}) | safe }}


{% extends 'integrations:default_modal.html' %}
{% block modal_body %}
    <div class="form-group">
        <h9>URL</h9>
        <input type="text" class="form-control form-control-alternative"
               placeholder="URL"
               v-model="url"
               :class="{ 'is-invalid': error.url }">
        <div class="invalid-feedback">[[ error.url ]]</div>

        <div class="form-group form-row">
            <div class="col-6">
                <h9>Login</h9>
                <input type="text" class="form-control form-control-alternative"
                       placeholder="Login"
                       v-model="login"
                       :class="{ 'is-invalid': error.login }"
                >
                <div class="invalid-feedback">[[ error.login ]]</div>
            </div>
            <div class="col-6">
                <h9>Password</h9>
                <input type="password" class="form-control form-control-alternative"
                       placeholder="Password"
                       v-model="passwd"
                       :class="{ 'is-invalid': error.passwd }">
                <div class="invalid-feedback">[[ error.passwd ]]</div>
            </div>
        </div>
        <h9>Project</h9>
        <input type="text" class="form-control form-control-alternative"
               placeholder="Project"
               v-model="project"
               :class="{ 'is-invalid': error.project }">
        <div class="invalid-feedback">[[ error.project ]]</div>

        <h9>Issue Type</h9>
        <input type="text" class="form-control form-control-alternative"
               placeholder="Issue Type"
               v-model="issue_type"
               :class="{ 'is-invalid': error.issue_type }">
        <div class="invalid-feedback">[[ error.issue_type ]]</div>
    </div>
{% endblock %}
{% block modal_footer %}
    <script src="{{ url_for('%s.static' | format(integration_name), filename='js/integrations.js') }}"></script>
{% endblock %}