{% set name = 'reporter_jira' %}
<div class="col-6 security_integration_item" data-name="{{ name }}" id="{{ name }}">
    <div class="card card-row-1">
        <div class="card-header">
            <div class="d-flex">
                <h9 class="flex-grow-1" style="line-height: 24px">Jira</h9>
                {#                <button type="button" class="btn btn-24 btn-action" data-toggle="collapse"#}
                {#                        data-target="#settings_{{ name }}" aria-expanded="false"><i class="fas fa-cog"></i>#}
                {#                </button>#}
                <label class="custom-toggle">
                    <input type="checkbox" data-target="#selector_{{ name }}" aria-expanded="false"
                           data-toggle="collapse"
                           class="integration_checkbox" id="integration_checkbox_{{ name }}">
                    <span class="custom-toggle-slider rounded-circle"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="collapse col-12 mb-3 pl-0" id="selector_{{ name }}">
                <select class="selectpicker" data-style="btn-secondary">
                    {% for i in config['project_integrations'] %}
                        <option
                                value="{{ i.id }}"
                                {% if i.is_default %} selected data-is_default="true"{% endif %}
                                title="{{ i.description }} {% if i.is_default %} - default {% endif %}"
                        >
                            {{ i.description }} {% if i.is_default %} - default {% endif %}
                        </option>
                    {% endfor %}
                </select>
{#                <div class="mt-3">#}
{#                    <h9>Recipients</h9>#}
{#                    <div class="input-group">#}
{#                        <input type="email" class="form-control" placeholder="Recipients' emails comma-separated"#}
{#                               v-model="email"#}
{#                               :class="{ 'is-invalid': hasErrors }"#}
{#                        >#}
{#                        <div class="input-group-append">#}
{#                            <button class="btn btn-secondary btn-37" type="button"#}
{#                                    style="max-width: unset"#}
{#                                    @click="handleAdd"#}
{#                                    :disabled="email === ''"#}
{#                                    :class="{ 'btn-danger': hasErrors }"#}
{#                            >#}
{#                                Add#}
{#                            </button>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <div class="invalid-feedback"#}
{#                         style="display: block"#}
{#                         v-if="hasErrors"#}
{#                    >#}
{#                        <div v-for="error in errors">#}
{#                            [[ error ]]#}
{#                        </div>#}
{#                        <div v-for="warning in warnings" class="text-warning">#}
{#                            [[ warning ]]#}
{#                        </div>#}
{#                    </div>#}
{#                    <ul class="list-group mt-1 list-group-flush">#}
{#                        <recipient#}
{#                                v-for="(item, index) in recipients"#}
{#                                :key="index"#}
{#                                :index="index"#}
{#                                :email="item"#}
{#                                @remove="removeIndex"#}
{#                        ></recipient>#}
{#                    </ul>#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('reporter_jira.static', filename='js/reporter_toggle.js') }}" type="text/javascript"></script>
