{% set name = "reporter_jira" %}
<button type="button"
        class="btn-action btn-lg btn-secondary card card-row-1 mr-3 ml-3 flex-row align-items-center p-2"
        data-toggle="modal"
        data-target="#{{ name }}_integration"
        id="create_integration_{{ name }}"
>
    <div class="col-2"><i class="fa fa-plus"></i></div>
    <div class="col-3"><i class="fab fa-jira fa-2x"></i></div>
    <div class="col">Jira</div>
</button>
<div class="modal fixed-left fade shadow-sm" tabindex="-1" role="dialog" id="{{ name }}_integration">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col">
                        <h2>Jira integration</h2>
                        <p v-if="id">
                            <h13>id: [[ id ]]</h13>
                        </p>
                    </div>
                    <div class="col-xs">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary"
                                :class="{disabled: is_fetching, updating: is_fetching}"
                                @click.prevent="id ? update() : create()"
                        >
                            [[ id ? 'Update' : 'Save' ]]
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="w-100">

                                <h9>URL</h9>
                                <input type="text" class="form-control form-control-alternative"
                                       placeholder="URL"
                                       v-model="url"
                                       :class="{ 'is-invalid': error.url }">
                                <div class="invalid-feedback">[[ error.url ]]</div>
                            </label>

                            <div class="row">


                                <div class="col">
                                    <label class="w-100">
                                        <h9>Login</h9>
                                        <input type="text" class="form-control form-control-alternative"
                                               placeholder="Login"
                                               v-model="login"
                                               :class="{ 'is-invalid': error.login }"
                                        >
                                        <div class="invalid-feedback">[[ error.login ]]</div>
                                    </label>
                                </div>

                                <div class="col">
                                    <label class="w-100">
                                        <h9>Password</h9>
                                        <input type="password" class="form-control form-control-alternative"
                                               placeholder="Password"
                                               v-model="passwd"
                                               :class="{ 'is-invalid': error.passwd }">
                                        <div class="invalid-feedback">[[ error.passwd ]]</div>
                                    </label>

                                </div>
                            </div>
                            <label class="w-100">
                                <h9>Project</h9>
                                <input type="text" class="form-control form-control-alternative"
                                       placeholder="Project"
                                       v-model="project"
                                       :class="{ 'is-invalid': error.project }">
                                <div class="invalid-feedback">[[ error.project ]]</div>
                            </label>

                            <label class="w-100">
                                <h9>Issue Type</h9>
                                <input type="text" class="form-control form-control-alternative"
                                       placeholder="Issue Type"
                                       v-model="issue_type"
                                       :class="{ 'is-invalid': error.issue_type }">
                                <div class="invalid-feedback">[[ error.issue_type ]]</div>
                            </label>

                        </div>

                        <div class="form-group">
                            <label class="w-100">
                                <h9>Description</h9>
                                <textarea class="form-control" rows="1" placeholder="Optional"
                                          v-model="description">
                            </textarea>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="w-100">
                                <input class="form-check-input" type="checkbox" value=""
                                       v-model="is_default">
                                <h9>
                                    Set as default reporter
                                </h9>
                            </label>
                        </div>
                        <button type="button" class="btn btn-sm mt-3"
                                @click.prevent="test_connection"
                                :class="[{disabled: is_fetching, updating: is_fetching, 'is-invalid': error.check_connection}, test_connection_class]"
                        >
                            Test connection
                        </button>
                        <div class="invalid-feedback">[[ error.check_connection ]]</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for(name + '.static', filename='js/integrations.js') }}" type="text/javascript"></script>
